<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wake up.</title>
</head>
<body style="height: 100dvh;">
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div>Wizard. Please, <a href="https://codist.neocities.org/wizardpleasewakeup">wake up</a>.<br>We miss you.</div>
    </div>
</body>
</html>